# VSCode
# https://stackoverflow.com/a/57749909/9731532
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Sandbox for personal trashground
Sandbox/*

# Kari builds to a directory in root by default 
Build/*
NuGet_Packages/*

# Ignore Jetbrains Plugin
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/*
JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
assets/Plugins/Editor/JetBrains.meta
assets/Plugins/Editor/JetBrains/*

# comment these out if you wish to commit the asset store tools plugins
assets/AssetStoreTools*
Assets/AssetStoreTools*
AssetStoreTools.meta

# Visual Studio cache directory
.vs/

# Rider
**/.idea/**
.idea/**

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
Thumbs.db
Desktop.ini
ehthumbs.db
Local/*
